@{
    ViewBag.Title = "Home Page";
}

            <h2>Documents in folder</h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Document Name</th>
                        <th>Created On</th>
                        <th>Path</th>
                        <th>Template Name</th>
                        <th>Created By</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    <tr>
                        <td>@Html.CheckBox("test")</td>
                        <td>Pdf</td>
                        <td>Global Developers Invoice</td>
                        <td>27/03/2008</td>
                        <td>/temp/first/gdInvoice.pdf</td>
                        <td>Invoice</td>
                        <td>tsingh</td>
                    </tr>
                    </tbody>
                </table>
            </div>
       